@model Category

<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">
                Delete Group Workout
            </h1>
        </div>
        @*// Validation Summary*@
        <div asp-validation-summary="All"></div>
        <div class=" mb-3 list-group-item list-group-item-action">
            <label asp-for="Workout"></label>
            <input asp-for="Workout" disabled class="form-control" />
        </div>
        <div class=" mb-3 list-group-item list-group-item-action">
            <label asp-for="Participant"></label>
            <input asp-for="Participant" disabled class="form-control" />
        </div>
        <div class=" mb-3 list-group-item list-group-item-action">
            <label asp-for="CreatedDateTime"></label>
            <input asp-for="CreatedDateTime" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">
              <i class="bi bi-trash"></i> Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-info" style="width:150px">
            Back to Workouts
        </a>
    </div>
</form>
@*// Client Side Validation*@
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />

    }
}
