@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pt-5">
    <h1 class="display-4">Note App</h1>
    <p>Step Up Your Fitness Or Bodybuiling training!</p>
</div>

<div class="WorkoutHead">
    <h3>“Push harder than yesterday if you want a different tomorrow.”</h3>
</div>
    