@{
    ViewData["Title"] = "Home Page";
}


<div id="home">
<div id="home-text" class="text-center  text-light" >
    <h1 class="display-4">Note App</h1>
    <h4>Step Up Your Fitness Or Bodybuiling training!</h4>
    <h1 class="text-light">
        “Push harder than yesterday if you want a different tomorrow.”
    </h1>

</div>


   
   
</div>